{#
This anchor is used primarily for allowing keyboard users to skip all the headings and jump directly into content.
The link is in templates/layout/html.twig
#}
<div id="main-content" class="visually-hidden" tabindex="-1"></div>
