/* purgecss start ignore */
  .webform-submission-form .js-form-type-radio {
    clear: both;
    @apply block;
    @apply flex;
    @apply items-center;
    @apply mb-16;

    input[type='radio'] {
      appearance: none;
      @apply w-auto;
      width: 24px;
      height: 24px;
      min-width: 24px;
      min-height: 24px;
      @apply flex-shrink-0;
      @apply bg-white;
      @apply border-solid;
      @apply border-black;
      @apply border-3;
      @apply rounded-full;
      @apply relative;

      &::after {
        content: '';
        width: 12px;
        height: 12px;
        top: 3px;
        left: 3px;
        @apply bg-cover;
        @apply bg-black;
        @apply rounded-full;
        @apply absolute;
        @apply hidden;
      }

      &:disabled {
        @apply opacity-25;
      }

      &:hover {
        @apply border-colour-two;
      }

      &:focus {
        @apply border-colour-two;
        @apply outline-none;
      }

      &:checked {
        &:hover {
          &::after {
            @apply opacity-100;
          }
        }
        &::after {
          @apply block;
        }
      }
    }

    label {
      @apply inline-block;
      @apply mb-0;
      @apply ml-16;
      @apply leading-130;
      @apply font-normal;
      @apply text-black;
    }
  }
/* purgecss end ignore */
