/* purgecss start ignore */
  .webform-submission-form, .user-login-form, .user-pass {
    input[type='submit'] {
      @apply text-white;
      appearance: none;
      @apply font-bold;
      @apply border-0;
      @apply py-16;
      @apply px-24;
      @apply rounded;
      @apply inline-block;
      @apply w-auto;
      @apply duration-0;
      @apply relative;
      @apply bg-black;


      &:hover {
        cursor: pointer;
      }

      &:hover,
      &:focus {
        opacity: 0.9;
        @apply duration-0;
      }

      &:focus {
        outline-color: theme('colors.colour-two');
        outline-width: 2px;
        outline-offset: 1px;
        outline-style: solid;
      }
    }

    .form-actions {
      input[type='submit'] {
        background: theme('colors.black.default');
        @apply duration-200;

        &:hover {
          @apply cursor-pointer;
          background-position: right 1.4rem center;
          @apply duration-200;
        }
      }
    }
  }
/* purgecss end ignore */
