body[data-meta-sidebar="closed"] .glb-sidebar {
  transform: translateX(var(--gin-sidebar-width));
}

.glb-sidebar {
  z-index: 103;
  width: var(--gin-sidebar-width);
  height: calc(100% - var(--gin-toolbar-y-offset));
  position: fixed;
  top: var(--gin-toolbar-y-offset);
  right: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: var(--gin-bg-layer);
  border-left: 1px solid var(--gin-border-color-layer);
  transition: all var(--gin-transition-fast);
  font-family: Inter, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1em;

  &__content {
    padding-left: 1.3rem;
  }

  .gin--dark-mode & {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }

  .form-actions {
    margin: 0;
    .action-link {
      margin-top: var(--gin-spacing-xs);
      margin-bottom: 0;
    }
  }

  &--processed {
    opacity: 1;
  }

  color: var(--gin-color-text);

  &__title {
    flex-grow: 1;
  }

  &__titelbar {
    color: var(--gin-color-title) !important;
    font-weight: 500 !important;
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
    text-shadow: none !important;
    font-size: 1.231em !important;
  }

  .form-actions {
    display: flex !important;
    flex-wrap: wrap;
    padding-top: 0.5em;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0.5em;
    align-items: center;
  }


  .glb-form-item-toggle-content-preview {
    padding-right: 1.25em;
  }

}
