.gin--navigation-top-bar .gin-lb--form-actions {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  margin-top:  0 !important;
  margin-bottom: 0 !important;
  gap: var(--gin-spacing-xs);
}

.gin--navigation-top-bar .gin-lb--form-actions .glb-form-item, .gin--navigation-top-bar .gin-lb--form-actions .glb-button {
  margin: 0 !important;
}
