
# Ignore Drupal's file directory
docroot/sites/*/files/

# Ignore settings.local.php for local developer ocverrides. 
docroot/sites/default/settings.local.php

# Ignore IDE files
.idea/
.vscode/
*.code-workspace

# Ignore xdebug log file genearted by lando
xdebug.log

# Ignore .env files as they are personal
/.env

# Ignore DB dumps
*.sql
*.sql.gz
*.mysql
*.mysql.gz

# Ignore Lando overrides
.lando.local.yml

# Ignore node
node_modules

# Ignore MacOS files
*.DS_Store

# Dev mode: don't include tailwind.css 
tailwind.css