{#
/**
 * @file
 * Template for the main page.
 */
#}
{% if page_attributes is empty %}
  {% set page_attributes = create_attribute() %}
{% endif %}

{% set page_classes = [
  'page'
]|merge(page_utility_classes ? page_utility_classes : []) %}

<div {{ page_attributes.addClass(page_classes) }}>
  {% block page_header %}
    {% include '@radix/section/header.twig' %}
  {% endblock %}

  {% block page_content %}
    {% include '@radix/section/page-content.twig' %}
  {% endblock %}

  {% block page_footer %}
    {% include '@radix/section/footer.twig' %}
  {% endblock %}
</div>
