/* lato-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/lato-v25-latin-300.woff2') format('woff2');
}
/* lato-300italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/lato-v25-latin-300italic.woff2') format('woff2');
}
/* lato-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lato-v25-latin-regular.woff2') format('woff2');
}
/* lato-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/lato-v25-latin-italic.woff2') format('woff2');
}
/* lato-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/lato-v25-latin-700.woff2') format('woff2');
}
/* lato-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/lato-v25-latin-700italic.woff2') format('woff2');
}
/* lato-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/lato-v25-latin-900.woff2') format('woff2');
}
/* lato-900italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/lato-v25-latin-900italic.woff2') format('woff2');
}
/* noto-serif-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/noto-serif-v33-latin-300.woff2') format('woff2');
}
/* noto-serif-300italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/noto-serif-v33-latin-300italic.woff2') format('woff2');
}
/* noto-serif-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/noto-serif-v33-latin-regular.woff2') format('woff2');
}
/* noto-serif-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/noto-serif-v33-latin-italic.woff2') format('woff2');
}
/* noto-serif-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/noto-serif-v33-latin-600.woff2') format('woff2');
}
/* noto-serif-600italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/noto-serif-v33-latin-600italic.woff2') format('woff2');
}
/* noto-serif-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/noto-serif-v33-latin-700.woff2') format('woff2');
}
/* noto-serif-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/noto-serif-v33-latin-700italic.woff2') format('woff2');
}