.block-facet--checkbox {
  button {
    font-size: $font-size-base;
    width: 100%;
    text-align: left;
    @extend .btn;
    @extend .btn-outline-secondary;
    @extend .dropdown-toggle;
    margin-top: 1rem;
  }
  .facets-widget-checkbox {
    ul {
      margin: 1rem 0;
      ul {
        display: none;
      }
    }

    li {
      list-style: none;
      margin-left: -2rem;
    }
    .facets-checkbox {
      margin-right: .5rem;
    }
  }
}

.block--dropdownlanguagecontent {
  h2 {
    font-size: $font-size-base;
    float: left;
  }
}
