.block-facet--checkbox {
  border-top: solid 1px $gray-200;
  border-right: solid 1px $gray-200;
  border-left: solid 1px $gray-200;
  padding: 0 .5rem .5rem .5rem;
  width: 100%;
  button {
    font-size: $font-size-base;
    width: 100%;
    display: inline-block;
    text-align: left;
    border: none;
    background: none;
    @extend .dropdown-toggle;
    margin-top: .5rem;
    &:hover, &:active, &:focus {
      border: none;
      background: none;
      color: inherit;
      box-shadow: none;
      outline: none;
    }
    &:after {
      float: right;
      margin-top: .5rem;
    }
    &[aria-expanded="true"]::after {
      border-top: 0;
      border-bottom: 0.3em solid;
    }
  }
  .facets-widget-checkbox {
    ul {
      margin: 1rem 0;
      ul {
        display: none;
      }
    }

    li {
      list-style: none;
      margin-left: -2rem;
    }
    .facets-checkbox {
      margin-right: .5rem;
    }
  }
  a.facets-soft-limit-link {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  &:last-of-type {
    border-bottom: solid 1px $gray-200;
  }
}

.block--dropdownlanguagecontent {
  h2 {
    font-size: $font-size-base;
    float: left;
  }
}
