# Configuration file for PHPStan static code checking.
# @see: https://git.drupalcode.org/project/drupal/-/blob/10.0.x/core/phpstan.neon.dist

parameters:

  level: 5
  treatPhpDocTypesAsCertain: false

  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    # @see https://www.drupal.org/docs/develop/development-tools/phpstan/handling-unsafe-usage-of-new-static
    - "#^Unsafe usage of new static#"
    # Form save method return type compatibility - acceptable pattern in Drupal
    - "#Return type \\(void\\) of method .+TaxonomyMenuForm::save\\(\\) should be compatible with return type \\(int\\)#"
    # Entity return type mismatch - loadMultiple returns EntityInterface array
    - "#Method .+getTermMenusByVocabulary\\(\\) should return array<.+TaxonomyMenuInterface> but returns array<.+EntityInterface>#"
