/**
* @file
* Styles for formatted output of shs module.
*/

ul.shs {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.shs li {
  float: left;
  padding: 0 5px 0 0;
  white-space: nowrap;
}
ul.shs li::after {
  margin: 0 0 0 5px;
  content: ">";
}
ul.shs li:last-of-type {
  padding-right: 0;
}
ul.shs li:last-of-type::after {
  margin: 0;
  content: "";
}

[dir="ltr"] ul.shs {
  margin-left: 0;
}
[dir="rtl"] ul.shs {
  margin-right: 0;
}
