{% extends '@iied_tw/templates/layout/page.html.twig' %}

  {% block pagemain %}
    <div>
      <main role="main">
        <a id="main-content" tabindex="-1"></a>
          <div class="container">
            {{ page.content }}
          </div>  
      </main>
    </div>
  {% endblock %}