{% extends '@iied_tw/templates/layout/page.html.twig' %}

  {% block pagemain %}
    <div>  {# move class="container p-4 mx-auto" #}
      <main role="main">
        <a id="main-content" tabindex="-1"></a>
          <div class="flex h-screen flex-nowrap">
            <div class="flex flex-col flex-wrap justify-center max-w-3xl place-content-center basis-3/5">
            <h1 class="py-8">Log in</h1>
              {{ page.content }}
            </div>

            <div class="relative flex grow basis-2/5">
                <img class="absolute top-0 left-0 object-cover w-full h-full" src="https://www.iied.org/sites/default/files/17703IIED.pdf-p1_0.jpeg" alt="make change happen">
            </div>
          </div>

      </main>
    </div>
  {% endblock %}


