{% extends '@iied_tw/node/card/node--card.html.twig' %}
  {% block image %}
  <div class="not-prose items-start w-2/12 shadow-lg">
    {# Insert publication image with default settings #}
    {% include '@iied_tw/partials/_publication_image.html.twig' with { 'display_mode':'card_cover', 'img_style':'card_cover' } %} 
  </div> 
  {% endblock %} 
  {% block date %}
      <p class="text-gray-500">{{ node.type.entity.label() }}, {{ node.field_date_published.value|date('d F Y') }} </p>
  {% endblock %}
