{% extends '@iied_tw/node/card/node--card-solo.html.twig' %}

   {% block date %}
      <p class="text-gray-500">
         {% if node.field_date_or_caption.value is not empty %}
            {{ node.field_date_or_caption.value }}
            {% else %}
            {% if "On" in content.field_hide_date.0 %}          
            {% else %}
            {{ node.getCreatedTime|date('d F Y') }} 
            {% endif %}
         {% endif %}
      </p> 
   {% endblock %}