{% extends '@iied_tw/node/card/node--card.html.twig' %}
    {% block date %}
        <p class="text-gray-500">{{ node.field_news_type.entity.label }}, {{ node.getCreatedTime|date('d F Y') }} </p>
    {% endblock %}

