{#
Card for use in a slider only
#}
{% if (node.field_short_title.value) %}
	{% set title_text = node.field_short_title.value %}
{% else %}
	{% set title_text = node.label %}
{% endif %}
<div class="snap-center shrink-0 h-full overflow-hidden">
	<article{{attributes.addClass('h-full')}}>

		<a href="{{ url }}" class="hover:no-underline">
			<div
				class="grow group rounded-xl flex flex-col content-start h-full overflow-hidden transition-shadow bg-white border border-gray-300">

				{# image #}
				<div class="max-h-44 w-full p-2 overflow-hidden bg-gray-300">
					<div class="w-fit sm:w-fit sm:-rotate-2 group-hover:-rotate-1 group-hover:scale-105 m-auto transition duration-300 ease-out shadow-lg">
						{% include '@iied_tw/partials/_publication_image.html.twig' with { 'display_mode':'card_cover', 'img_style':'card_cover', 'alt_text': title_text } %}
					</div>
				</div>
				{# color-rotate classes to be added #}
				<div class="grow border-iiedorange-500 color-rotate p-4 border-t-2">
					<h5 class="sm:text-xl sm:leading-relaxed mb-4 text-gray-900">
						{{ title_text }}
					</h5>
				</div>

			</div>
		</a>

	</article>
</div>