{% extends '@iied_tw/node/card/node--card-md.html.twig' %}

    {% block date %}
    <div class="text-gray-500"> 
    {{ node.field_author_s_[0].entity|view('name_only') }}
      {% if node.field_author_s_[1] %}
        {{ ' and ' }}{{ node.field_author_s_[1].entity|view('name_only') }}
      {% endif %}

    <br/>{{ node.getCreatedTime|date('d F Y') }}
    </div>
    {% endblock %}

