{% extends '@iied_tw/node/card/node--card-lg.html.twig' %}
    {% block tagline %}
    <p class="text-gray-700">{{ node.field_tagline.0.value }}</p>
    {% endblock %}
   {% block date %}
   {% if "On" in content.field_hide_date.0 %}          
    {% else %}
    <p class="text-gray-500">{{ node.getCreatedTime|date('d F Y') }} </p>
    {% endif %}
   {% endblock %}