{#
/**
 * @file
 * Template to output the menu toggle icon (burger).
 */
#}
<a id="toggle-icon" class="responsive-menu-toggle-icon block mt-3 mr-2 pt-1 pl-1 w-8 h-8 toggle border-2 border-iiedblue-500 rounded-3xl" title="Menu" href="#off-canvas">
  <span class="block pb-1">
    <svg viewBox="0 0 100 80" class="w-5 h-5 fill-black">
    <rect y="5" width="100" height="10"></rect>
    <rect y="35" width="100" height="10"></rect>
    <rect y="65" width="100" height="10"></rect>
  </svg>
  </span>
</a>