{#
/**
 * @file
 * Template to output the menu toggle icon (burger).
 */
#}
<a id="toggle-icon"title="Menu" href="#off-canvas">
    <span class="block py-4 px-4 ">
      <svg viewBox="0 0 100 80" class="w-6 h-6 fill-current">
        <rect y="5" width="100" height="12"></rect>
        <rect y="35" width="100" height="12"></rect>
        <rect y="65" width="100" height="12"></rect>
      </svg>
    </span>
</a>