
{#
To get classes usedon theory of change diagram page
This is also a useful copy, ,but could be replaced with classses only version
/themes/custom/iied_tw/images/toc-bg1.png
#}
<div class="mx-auto max-w-7xl">
  <div class="mb-16 text-center">
    <h2
      class="mb-6"
    >
      Theory of change
    </h2>
    <p class="max-w-2xl mx-auto text-lg">
      Hover (desktop) or tap (mobile) any element to learn more.
    </p>
  </div>
  <div
    class="relative grid items-start grid-cols-1 gap-8 mb-12 lg:grid-cols-3 lg:gap-12"
  >
    <div class="text-center">
      <h2
        class="mb-6 font-sans text-2xl font-bold"
      >
        APPROACHES
      </h2>
      <div class="relative py-6 w-full max-w-md mx-auto bg-[url('/themes/custom/iied_tw/images/toc-bg1.png')] bg-contain bg-center bg-no-repeat">
        <div
          class="relative flex items-center justify-center mx-auto w-80 h-80"
        >
          <div
            class="absolute z-50 transition-all duration-300 group group-hover:z-[99] group-focus-within:z-[99]"
            style="transform: translate(0px, -110px)"
          >
            <button
              class="relative flex items-center justify-center text-center transition-all duration-300 rounded-full cursor-pointer w-28 h-28 hover:scale-110 focus:scale-110 focus:outline-none"
              aria-label="Learn more about Forging alliances"
            >
              <div
                class="flex items-center justify-center w-full h-full p-4 transition-all duration-300 border border-blue-200 rounded-full shadow-md bg-iiedblue-5 hover:bg-iiedblue-10 hover:shadow-lg"
              >
                <p
                  class="px-1 leading-snug text-center"
                >
                  Forging alliances
                </p>
              </div>
            </button>
            <div
              class="absolute hidden group-hover:block group-focus-within:block bg-white p-3 rounded-md shadow-lg z-[1000] w-64 max-w-[calc(100vw-32px)] text-base text-left border border-gray-300 -bottom-2 left-1/2 -translate-x-1/2 translate-y-full opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-300"
            >
              <div
                class="absolute w-0 h-0 -translate-x-1/2 border-b-8 border-l-8 border-r-8 shadow-lg bottom-full left-1/2 border-l-transparent border-r-transparent border-b-white"
                    
              ></div>
              <p class="mb-1 font-bold">
                Forging alliances
              </p>
              <p>
                This involves acting as a backbone organisation that supports multiple partners to have a greater impact tackling the triple crises in their own expert ways. It also involves designing and testing principles and approaches that support locally led action.
              </p>
            </div>
          </div>
          <div
            class="absolute z-20 transition-all duration-300 group"
            style="transform: translate(104.616217px, -33.991869px)"
          >
            <button
              class="relative flex items-center justify-center text-center transition-all duration-300 rounded-full cursor-pointer w-28 h-28 hover:scale-110 focus:scale-110 focus:outline-none"
              aria-label="Learn more about Building bridges"
            >
              <div
                class="flex items-center justify-center w-full h-full p-4 transition-all duration-300 border border-blue-200 rounded-full shadow-md bg-iiedblue-5 hover:bg-iiedblue-10 hover:shadow-lg"
              >
                <p
                  class="px-1 leading-snug text-center"
                >
                  Building bridges
                </p>
              </div>
            </button>
            <div
              class="absolute hidden group-hover:block group-focus-within:block bg-white p-3 rounded-md shadow-lg z-[1001] w-64 max-w-[calc(100vw-32px)] text-base text-left border border-gray-300 -bottom-2 left-3/4 md:left-1/2 -translate-x-3/4 md:-translate-x-1/2 translate-y-full opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-300"
            >
              <div
                class="absolute w-0 h-0 -translate-x-1/2 border-b-8 border-l-8 border-r-8 shadow-lg bottom-full left-1/2 border-l-transparent border-r-transparent border-b-white"
              ></div>
              <p class="mb-1 font-bold">
                Building bridges
              </p>
              <p>
                Connecting diverse stakeholders and communities across divides to foster understanding and collaboration. This includes co-producing research that identifies differentiated risks and impacts for community members, and supporting the inclusive design of new climate and social contracts.
              </p>
            </div>
          </div>

          <div
            class="absolute z-10 transition-all duration-300 group group-hover:z-[99] group-focus-within:z-[99]"
            style="transform: translate(64.656378px, 88.991869px)"
          >
            <button
              class="relative flex items-center justify-center text-center transition-all duration-300 rounded-full cursor-pointer w-28 h-28 hover:scale-110 focus:scale-110 focus:outline-none"
              aria-label="Learn more about Providing evidence and ideas"
            >
              <div
                class="flex items-center justify-center w-full h-full p-4 transition-all duration-300 border border-blue-200 rounded-full shadow-md bg-iiedblue-5 hover:bg-iiedblue-10 hover:shadow-lg"
              >
                <p
                  class="px-1 leading-snug text-center"
                >
                  Providing evidence and ideas
                </p>
              </div>
            </button>
            <div
              class="absolute hidden group-hover:block group-focus-within:block bg-white p-3 rounded-md shadow-lg z-[99] w-64 max-w-[calc(100vw-32px)] text-base text-left border border-gray-300 -bottom-2 left-1/2 -translate-x-1/2 translate-y-full opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-300"
            >
              <div
                class="absolute w-0 h-0 -translate-x-1/2 border-b-8 border-l-8 border-r-8 shadow-lg bottom-full left-1/2 border-l-transparent border-r-transparent border-b-white"
              ></div>
              <p class="mb-1 font-bold">
                Providing evidence and ideas
              </p>
              <p>
                Research-based solutions and innovative thinking for complex challenges, grounded in data and experience. This involves advancing ideas backed by evidence to challenge the damaging status quo.
              </p>
            </div>
          </div>
          <div
            class="absolute z-10 transition-all duration-300 group group-hover:z-50 group-focus-within:z-50"
            style="transform: translate(-64.656378px, 88.991869px)"
          >
            <button
              class="relative flex items-center justify-center text-center transition-all duration-300 rounded-full cursor-pointer w-28 h-28 hover:scale-110 focus:scale-110 focus:outline-none"
              aria-label="Learn more about Convening capabilities"
            >
              <div
                class="flex items-center justify-center w-full h-full p-4 transition-all duration-300 border border-blue-200 rounded-full shadow-md bg-iiedblue-5 hover:bg-iiedblue-10 hover:shadow-lg"
              >
                <p
                  class="px-1 leading-snug text-center"
                >
                  Convening capabilities
                </p>
              </div>
            </button>
            <div
              class="absolute hidden group-hover:block group-focus-within:block bg-white p-3 rounded-md shadow-lg z-[99] w-64 max-w-[calc(100vw-32px)] text-base text-left border border-gray-300 -bottom-2 left-1/2 -translate-x-1/2 translate-y-full opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-300"
            >
              <div
                class="absolute w-0 h-0 -translate-x-1/2 border-b-8 border-l-8 border-r-8 shadow-lg bottom-full left-1/2 border-l-transparent border-r-transparent border-b-white"
              ></div>
              <p class="mb-1 font-bold">
                Convening capabilities
              </p>
              <p>
                Bringing together expertise and resources for collective action, creating spaces for meaningful dialogue. This includes unlocking ways to appropriately devolve power in governance structures.
              </p>
            </div>
          </div>
          <div
            class="absolute z-10 transition-all duration-300 group group-hover:z-50 group-focus-within:z-50"
            style="transform: translate(-104.616217px, -33.991869px)"
          >
            <button
              class="relative flex items-center justify-center text-center transition-all duration-300 rounded-full cursor-pointer w-28 h-28 hover:scale-110 focus:scale-110 focus:outline-none"
              aria-label="Learn more about Valuing diversity"
            >
              <div
                class="flex items-center justify-center w-full h-full p-4 transition-all duration-300 border border-blue-200 rounded-full shadow-md bg-iiedblue-5 hover:bg-iiedblue-10 hover:shadow-lg"
              >
                <p
                  class="px-1 leading-snug text-center"
                >
                  Valuing diversity
                </p>
              </div>
            </button>
            <div
              class="absolute hidden group-hover:block group-focus-within:block bg-white p-3 rounded-md shadow-lg z-[99] w-64 max-w-[calc(100vw-32px)] text-base text-left border border-gray-300 -bottom-2 left-1/4 md:left-1/2 -translate-x-1/4 md:-translate-x-1/2 translate-y-full opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-300"
            >
              <div
                class="absolute w-0 h-0 -translate-x-1/2 border-b-8 border-l-8 border-r-8 shadow-lg bottom-full left-1/2 border-l-transparent border-r-transparent border-b-white"
              ></div>
              <p class="mb-1 font-bold">
                Valuing diversity
              </p>
              <p>
                Embracing different perspectives and experiences as strengths that enrich solutions and outcomes. This means developing and applying a set of principles and standards for equitable partnerships and anti-racist narratives, and actively challenging Euro-Western development constructs.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <h2
        class="mb-6 font-sans text-2xl font-bold"
      >
        CHANGES
      </h2>
      <div class="max-w-mf mx-auto bg-[url('/themes/custom/iied_tw/images/toc-bg2.png')] bg-contain bg-center bg-no-repeat">
        <div class="max-w-xs py-6 mx-auto space-y-4">
        <div class="relative group">
          <button
            class="w-full cursor-pointer group focus:outline-none rounded-xl"
            aria-label="Learn more about changing Destructive economic models"
          >
            <div
              class="p-6 transition-all duration-300 border shadow-md group-hover:scale-105 border-iiedpink-200 bg-iiedpink-5 hover:bg-iiedpink-10 rounded-xl hover:shadow-lg"
            >
              <p
                class="text-center"
              >
                Destructive economic models
              </p>
            </div>
          </button>
          <div
            class="absolute hidden group-hover:block group-focus-within:block bg-white p-3 rounded-md shadow-lg z-[99] w-64 max-w-[calc(100vw-32px)] text-base text-left border border-gray-300 -bottom-2 left-1/2 -translate-x-1/2 translate-y-full opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-300"
          >
            <div
              class="absolute w-0 h-0 -translate-x-1/2 border-b-8 border-l-8 border-r-8 shadow-lg bottom-full left-1/2 border-l-transparent border-r-transparent border-b-white"
            ></div>
            <p class="mb-1 font-bold">
              Destructive economic models
            </p>
            <p>
              Transforming systems that prioritise profit over people and planet. This involves challenging extractive practices and protecting against the "hidden handbrakes" of laws, rules, and vested interests that protect the incumbent damaging system.
            </p>
          </div>
        </div>
        <div class="relative group">
          <button
            class="w-full cursor-pointer group focus:outline-none rounded-xl"
            aria-label="Learn more about changing Mindsets perpetuating poverty"
          >
            <div
              class="p-6 transition-all duration-300 border shadow-md group-hover:scale-105 border-iiedpink-200 bg-iiedpink-5 hover:bg-iiedpink-10 rounded-xl hover:shadow-lg"
            >
              <p
                class="text-center"
              >
                Mindsets perpetuating poverty
              </p>
            </div>
          </button>
          <div
            class="absolute hidden group-hover:block group-focus-within:block bg-white p-3 rounded-md shadow-lg z-[99] w-64 max-w-[calc(100vw-32px)] text-base text-left border border-gray-300 -bottom-2 left-1/2 -translate-x-1/2 translate-y-full opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-300"
          >
            <div
              class="absolute w-0 h-0 -translate-x-1/2 border-b-8 border-l-8 border-r-8 shadow-lg bottom-full left-1/2 border-l-transparent border-r-transparent border-b-white"
            ></div>
            <p class="mb-1 font-bold">
              Mindsets perpetuating poverty
            </p>
            <p>
              Shifting attitudes and beliefs that maintain inequality and exclusion, fostering more inclusive worldviews. This includes a commitment to decolonising approaches and addressing systemic biases.
            </p>
          </div>
        </div>
        <div class="relative group">
          <button
            class="w-full cursor-pointer group focus:outline-none rounded-xl"
            aria-label="Learn more about changing Unjust power dynamics"
          >
            <div
              class="p-6 transition-all duration-300 border shadow-md group-hover:scale-105 border-iiedpink-200 bg-iiedpink-5 hover:bg-iiedpink-10 rounded-xl hover:shadow-lg"
            >
              <p
                class="text-center"
              >
                Unjust power dynamics
              </p>
            </div>
          </button>
          <div
            class="absolute hidden group-hover:block group-focus-within:block bg-white p-3 rounded-md shadow-lg z-[99] w-64 max-w-[calc(100vw-32px)] text-base text-left border border-gray-300 -bottom-2 left-1/2 -translate-x-1/2 translate-y-full opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-300"
          >
            <div
              class="absolute w-0 h-0 -translate-x-1/2 border-b-8 border-l-8 border-r-8 shadow-lg bottom-full left-1/2 border-l-transparent border-r-transparent border-b-white"
            ></div>
            <p class="mb-1 font-bold">
              Unjust power dynamics
            </p>
            <p>
              Redistributing power more equitably across communities and institutions to ensure fair representation. This involves tracking flows of people, things, and money to understand patterns of injustice and hidden handbrakes.
            </p>
          </div>
        </div>
        <div class="relative group">
          <button
            class="w-full cursor-pointer group focus:outline-none rounded-xl"
            aria-label="Learn more about changing Protectionist laws and rules"
          >
            <div
              class="p-6 transition-all duration-300 border shadow-md group-hover:scale-105 border-iiedpink-200 bg-iiedpink-5 hover:bg-iiedpink-10 rounded-xl hover:shadow-lg"
            >
              <p
                class="text-center"
              >
                Protectionist laws and rules
              </p>
            </div>
          </button>
          <div
            class="absolute hidden group-hover:block group-focus-within:block bg-white p-3 rounded-md shadow-lg z-[99] w-64 max-w-[calc(100vw-32px)] text-base text-left border border-gray-300 -bottom-2 left-1/2 -translate-x-1/2 translate-y-full opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-300"
          >
            <div
              class="absolute w-0 h-0 -translate-x-1/2 border-b-8 border-l-8 border-r-8 shadow-lg bottom-full left-1/2 border-l-transparent border-r-transparent border-b-white"
            ></div>
            <p class="mb-1 font-bold">
              Protectionist laws and rules
            </p>
            <p>
              Reforming policies that exclude, discriminate, and limit opportunities for marginalised communities. This includes raising our voice to expose and strive to reform the hidden handbrakes holding back progress, and advocating for more flexible funding terms.
            </p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="text-center">
      <h2
        class="mb-6 font-sans text-2xl font-bold"
      >
        OUTCOMES
      </h2>
      <div class="max-w-xs mx-auto space-y-3">
        <div class="relative group">
          <button
            class="w-full cursor-pointer group focus:outline-none rounded-xl"
            aria-label="Learn more about Migrants, including displaced people have brighter futures"
          >
            <div
              class="px-4 py-2 transition-all duration-300 border shadow-md border-iiedgreen-200 group-hover:scale-105 bg-iiedgreen-5 hover:bg-iiedgreen-10 rounded-xl hover:shadow-lg"
            > 
              <p class="text-left">
                Migrants, including displaced people have brighter futures
              </p>
            </div>
          </button>
          <div
            class="absolute hidden group-hover:block group-focus-within:block bg-white p-3 rounded-md shadow-lg z-[99] w-64 max-w-[calc(100vw-32px)] text-base text-left border border-gray-300 -bottom-2 left-1/2 -translate-x-1/2 translate-y-full opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-300"
          >
            <div
              class="absolute w-0 h-0 -translate-x-1/2 border-b-8 border-l-8 border-r-8 shadow-lg bottom-full left-1/2 border-l-transparent border-r-transparent border-b-white"
            ></div>
            <p class="mb-1 font-bold">
              Migrants, including displaced people have brighter futures
            </p>
            <p>
              Creating pathways for safe, dignified mobility and integration that respect human rights and dignity. This includes developing comprehensive support systems, advocating for policy reform, and building welcoming communities that embrace diversity.
            </p>
          </div>
        </div>
        <div class="relative group">
          <button
            class="w-full cursor-pointer group focus:outline-none rounded-xl"
            aria-label="Learn more about Trade, finance and investment benefit people and planet"
          >
            <div
              class="px-4 py-2 transition-all duration-300 border shadow-md border-iiedgreen-200 group-hover:scale-105 bg-iiedgreen-5 hover:bg-iiedgreen-10 rounded-xl hover:shadow-lg"
            >
              <p class="text-left">
                Trade, finance and investment benefit people and planet
              </p>
            </div>
          </button>
          <div
            class="absolute hidden group-hover:block group-focus-within:block bg-white p-3 rounded-md shadow-lg z-[99] w-64 max-w-[calc(100vw-32px)] text-base text-left border border-gray-300 -bottom-2 left-1/2 -translate-x-1/2 translate-y-full opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-300"
          >
            <div
              class="absolute w-0 h-0 -translate-x-1/2 border-b-8 border-l-8 border-r-8 shadow-lg bottom-full left-1/2 border-l-transparent border-r-transparent border-b-white"
            ></div>
            <p class="mb-1 font-bold">
              Trade, finance and investment benefit people and planet
            </p>
            <p>
              Ensuring economic systems serve broader social and environmental purposes beyond profit maximisation. This involves designing innovative ways to get money where it matters.
            </p>
          </div>
        </div>
        <div class="relative group">
          <button
            class="w-full cursor-pointer group focus:outline-none rounded-xl"
            aria-label="Learn more about Cities become places of inspiration and justice"
          >
            <div
              class="px-4 py-2 transition-all duration-300 border shadow-md border-iiedgreen-200 group-hover:scale-105 bg-iiedgreen-5 hover:bg-iiedgreen-10 rounded-xl hover:shadow-lg"
            >
              <p class="text-left">
                Cities become places of inspiration and justice
              </p>
            </div>
          </button>
          <div
            class="absolute hidden group-hover:block group-focus-within:block bg-white p-3 rounded-md shadow-lg z-[99] w-64 max-w-[calc(100vw-32px)] text-base text-left border border-gray-300 -bottom-2 left-1/2 -translate-x-1/2 translate-y-full opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-300"
          >
            <div
              class="absolute w-0 h-0 -translate-x-1/2 border-b-8 border-l-8 border-r-8 shadow-lg bottom-full left-1/2 border-l-transparent border-r-transparent border-b-white"
            ></div>
            <p class="mb-1 font-bold">
              Cities become places of inspiration and justice
            </p>
            <p>
              Building inclusive, sustainable urban environments that work for everyone, fostering creativity and equity. This includes tackling the housing crisis, scaling neighbourhood reform, and working with cities as testbeds for innovative adaptation technologies.
            </p>
          </div>
        </div>
        <div class="relative group">
          <button
            class="w-full cursor-pointer group focus:outline-none rounded-xl"
            aria-label="Learn more about Forest, farm and fisheries systems feed and nourish people and planet"
          >
            <div
              class="px-4 py-2 transition-all duration-300 border shadow-md border-iiedgreen-200 group-hover:scale-105 bg-iiedgreen-5 hover:bg-iiedgreen-10 rounded-xl hover:shadow-lg"
            >
              <p class="text-left">
                Forest, farm and fisheries systems feed and nourish people and planet
              </p>
            </div>
          </button>
          <div
            class="absolute hidden group-hover:block group-focus-within:block bg-white p-3 rounded-md shadow-lg z-[99] w-64 max-w-[calc(100vw-32px)] text-base text-left border border-gray-300 -bottom-2 left-1/2 -translate-x-1/2 translate-y-full opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-300"
          >
            <div
              class="absolute w-0 h-0 -translate-x-1/2 border-b-8 border-l-8 border-r-8 shadow-lg bottom-full left-1/2 border-l-transparent border-r-transparent border-b-white"
            ></div>
            <p class="mb-1 font-bold">
              Forest, farm and fisheries systems feed and nourish people and planet
            </p>
            <p>
              Promoting food systems that protect ecosystems while ensuring food security and nutrition for all. This involves championing small-scale producers, pastoralists, and other informal and traditional food systems.
            </p>
          </div>
        </div>
        <div class="relative group">
          <button
            class="w-full cursor-pointer group focus:outline-none rounded-xl"
            aria-label="Learn more about Climate action is transformed so people and nature can thrive"
          >
            <div
              class="px-4 py-2 transition-all duration-300 border shadow-md border-iiedgreen-200 group-hover:scale-105 bg-iiedgreen-5 hover:bg-iiedgreen-10 rounded-xl hover:shadow-lg"
            >
              <p class="text-left">
                Climate action is transformed so people and nature can thrive
              </p>
            </div>
          </button>
          <div
            class="absolute hidden group-hover:block group-focus-within:block bg-white p-3 rounded-md shadow-lg z-[99] w-64 max-w-[calc(100vw-32px)] text-base text-left border border-gray-300 -bottom-2 left-1/2 -translate-x-1/2 translate-y-full opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-300"
          >
            <div
              class="absolute w-0 h-0 -translate-x-1/2 border-b-8 border-l-8 border-r-8 shadow-lg bottom-full left-1/2 border-l-transparent border-r-transparent border-b-white"
            ></div>
            <p class="mb-1 font-bold">
              Climate action is transformed so people and nature can thrive
            </p>
            <p>
              Holistic approaches that address climate change while promoting wellbeing and environmental restoration. This involves embedding locally led adaptation (LLA) principles in climate finance flows and scaling practical solutions to tackle loss and damage.
            </p>
          </div>
        </div>
        <div class="relative group">
          <button
            class="w-full cursor-pointer group focus:outline-none rounded-xl"
            aria-label="Learn more about Community-led nature and governance is championed"
          >
            <div
              class="px-4 py-2 transition-all duration-300 border shadow-md border-iiedgreen-200 group-hover:scale-105 bg-iiedgreen-5 hover:bg-iiedgreen-10 rounded-xl hover:shadow-lg"
            >
              <p class="text-left">
                Community-led nature and governance is championed
              </p>
            </div>
          </button>
          <div
            class="absolute hidden group-hover:block group-focus-within:block bg-white p-3 rounded-md shadow-lg z-[99] w-64 max-w-[calc(100vw-32px)] text-base text-left border border-gray-300 -bottom-2 left-1/2 -translate-x-1/2 translate-y-full opacity-0 group-hover:opacity-100 group-focus-within:opacity-100 transition-opacity duration-300"
          >
            <div
              class="absolute w-0 h-0 -translate-x-1/2 border-b-8 border-l-8 border-r-8 shadow-lg bottom-full left-1/2 border-l-transparent border-r-transparent border-b-white"
            ></div>
            <p class="mb-1 font-bold">
              Community-led nature and governance is championed
            </p>
            <p>
            Empowering local leadership and stewardship of natural resources with indigenous and community knowledge. This involves placing Indigenous Peoples and local communities at the heart of the governance of protected areas, and respecting their customary rights.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
