{#
/**
 * @file
 * Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}
  {%
	set classes = [
		'px-6',
		'py-2',
		'bg-iiedblue-10',
    	'rounded-full',
		'shrink-0',
	]
  %}


<li{{ attributes.addClass(classes) }}>{{ link }}</li>
