parameters:
	level: 1
	ignoreErrors:
		# Todo: Remove when support for Drupal <11 is dropped.
		-
			message: '#Call to deprecated method setMethods#'
			reportUnmatched: false
		# https://git.drupalcode.org/project/gitlab_templates/-/blob/main/assets/phpstan.neon?ref_type=heads
		# new static() is a best practice in Drupal, so we cannot fix that.
		- "#^Unsafe usage of new static#"

includes:
  - phpstan-baseline.neon
