.current-plan-section {
    border: 1px solid #ccc; 
    padding: 12px 20px; 
    margin-bottom: 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.section-container {
    padding: 12px 20px; 
    margin-bottom: 20px; 
    
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-top: 12px;
}

.feature-box {
    border: 1px solid #ccc;
    padding: 18px;
    border-radius: 8px;
}

h3, h5{
    margin: 8px 0px !important;
}

.product-description {
    min-height: 150px;
    display: block;
}

.feature-image {
    width: 100%;
    height: auto !important;
    object-fit: contain;
    border-radius: 4px;
    display: block;
    min-height: 350px;
}
table.mo_how_to_upgrade td{
  border: groove;
  height: 2em;
  width: 25% !important;
}

/* Support icon position*/
.mo-bottom-corner{
  position: fixed;
  width: 5em;
  height: 5em;
  bottom: 2em;
  right: 2em;
  border-radius: 50px;
  border: black solid;
  text-align: center;
  box-shadow: 5px 5px 5px #999;
  z-index: 100;
}

/* Ensure consistent button placement across product cards */
.feature-box {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.feature-box h5 {
    font-size: 1.2rem;
}
.feature-box .product-description {
    flex-grow: 1;
}

.feature-box .button {
    margin-top: auto;
    align-self: flex-start;
    display: inline-block;
}

.view-all-features-button {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid;
}