<?php
/**
 * @file
 * Default theme implementation to display a video embed field.
 *
 * Variables available:
 * - $url: The URL of the video to display embed code for
 * - $embed_code: The embed code
 */
?>

<div class="embedded-video">
  <div class="player">
    {{ embed_code|raw }}
  </div>
</div>
