// Components: Buttons

// Download button
.file-size a {
  display: none;
}

// Sidr facet button
.block--sidrtriggerbuttonblock-2 button {
  @extend .btn;
  @extend .btn-secondary;
  @include media-breakpoint-up(md) {
    display: none;
  }
}

// Search page elements
.main-search-form {
  #edit-k--3 {
    border-radius: $border-radius-lg;
  }
  input, select {
    line-height: 1.5 !important;
  //  min-width: 8rem;
  }
  #views-exposed-form-search-page-2--3 {
    @extend .container;
    @extend .row;
    margin-left: -15px !important;
    &:hover {
      background-color: transparent !important;
    }
    .js-form-type-search-api-autocomplete {
      @extend .col-lg-6;
    }
    .js-form-item-sort-by {
        display: none;
    }
  }
}

//Exposed sorts

.sidebar-form {
  .js-form-type-search-api-autocomplete,
  input {
    display: none;
  }
  .js-form-item-sort-by {
    label {
      display: none;
    }
    max-width: fit-content;
  }
}

// Header search form
.header-search-block {
  .form-group {
    margin-bottom: 0;
  }
  div {
    display: inline;
  }
  input {
    border-radius: 1rem 0 0 1rem;
    margin-right: 0;
    display: inline-block;
    max-width: 87%;
  }
  #edit-actions,
  #edit-actions--2 {
    input {
      float: right;
      border-radius: 0 1rem 1rem 0;
      margin-left: -4px;
      width: auto;
      line-height: 1.5 !important;
      font-weight: 400;
    }
  }
  .form-item-sort-by,
  #edit-reset,
  #edit-reset--2 {
    display: none !important;
  }
  .row:hover {
    background-color: transparent;
  }
}

.search-api-autocomplete-search {
  z-index: 2000;
  max-width: 100%;
}

.pointer {
    cursor: pointer;
}

// Components: breadcrumb
.breadcrumb-item-theme {
    @extend .breadcrumb-item;
}

.breadcrumb-item-theme + .breadcrumb-item-theme::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "|";
}

// Components: cards
.grid .col-auto { /* add margin below cards */
  @extend .mb-4;
}

@media (min-width: 1200px) {
  .col-xl-3 {

  img {
  transform: rotate(-3deg);
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
  .col-4.col-xl-12 {
    max-height: 180px;
    overflow: hidden;
    background: $gray-200;
  }

}
}
