// Components: Buttons

// Download button
.file-size a {
  display: none;
}

// Sidr facet button
.block--sidrtriggerbuttonblock-2 button {
  @extend .btn;
  @extend .btn-secondary;
  @include media-breakpoint-up(md) {
    display: none;
  }
}

// Search page elements
.main-search-form {
  #edit-k--3 {
    border-radius: $border-radius-lg;
  }
  input, select {
    line-height: 1.5 !important;
  //  min-width: 8rem;
  }
  #edit-reset--3 {
    @extend .btn-secondary ;
  }
  #views-exposed-form-search-page-2--3 {
    @extend .container;
    @extend .row;
    margin-left: -15px !important;
    &:hover {
      background-color: transparent !important;
    }
    .js-form-type-search-api-autocomplete {
      @extend .col-lg-6;
    }
    .js-form-item-sort-by, #edit-submit-search--3{
        display: none;
    }
  }
}

//Exposed sorts

.sidebar-form {
  .js-form-type-search-api-autocomplete,
  input {
    display: none;
  }
  .js-form-item-sort-by {
    label {
      display: none;
    }
    max-width: fit-content;
  }
}

// Header search form
.header-search-block {
  .form-group {
    margin-bottom: 0;
  }
  div {
    display: inline;
  }
  input {
    border-radius: 1rem 0 0 1rem;
    margin-right: 0;
    display: inline-block;
    max-width: 87%;
  }
  #edit-actions,
  #edit-actions--2 {
    input {
      float: right;
      border-radius: 0 1rem 1rem 0;
      margin-left: -4px;
      width: auto;
      line-height: 1.5 !important;
      font-weight: 400;
    }
  }
  .form-item-sort-by,
  #edit-reset,
  #edit-reset--2 {
    display: none !important;
  }
  .row:hover {
    background-color: transparent;
  }
}

.search-api-autocomplete-search {
  z-index: 2000;
  max-width: 100%;
}

.pointer {
    cursor: pointer;
}

// Components: breadcrumb
.breadcrumb-item-theme {
    @extend .breadcrumb-item;
}

.breadcrumb-item-theme + .breadcrumb-item-theme::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "|";
}

// Components: cards
.grid .col-auto { /* add margin below cards */
  @extend .mb-4;
}

@include media-breakpoint-up(xl) {
  .col-xl-3 {
      img {
      transform: rotate(-3deg);
      display: block;
      margin-left: auto;
      margin-right: auto;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    }
      .col-4.col-xl-12 {
        max-height: 180px;
        overflow: hidden;
        background: $gray-200;
        border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
      }
  }
  .card-body {
      border-top: 2px solid $gray-100;
  }
  .grid .row {
    .col-xl-3:nth-child(8n+1) .card-body {border-top-color: $pink;}
    .col-xl-3:nth-child(8n+2) .card-body {border-top-color: $orange;}
    .col-xl-3:nth-child(8n+3) .card-body {border-top-color: $blue;}
    .col-xl-3:nth-child(8n+4) .card-body {border-top-color: $green;}
    .col-xl-3:nth-child(8n+5) .card-body {border-top-color: $green;}
    .col-xl-3:nth-child(8n+6) .card-body {border-top-color: $blue;}
    .col-xl-3:nth-child(8n+7) .card-body {border-top-color: $orange;}
    .col-xl-3:nth-child(8n+8) .card-body {border-top-color: $pink;}
  }
}

.card-body {
  padding: 1rem;
}
.card-title {
  font-size: 1.2rem;
}
.card-title a {
  color: $gray-900;
}
.card-meta {
  padding: 0 1rem 1rem 1rem;
}
.card:hover {
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.3);
  transition: all .3s ease;
}
.card:hover img {
  transform: scale(1.1) rotate(-2deg);
  transition: all .3s ease;
}

.page-item.active .page-link {
  background-color: $secondary;
  border-color: $secondary;
}
