{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "include",
        "mixin",
        "extend",
        "if",
        "each",
        "content",
        "apply",
        "tailwind",
        "variants",
        "config",
        "screen"
      ]
    }],
    "comment-empty-line-before": always,
    "no-descending-specificity": null,
    "unit-whitelist": ["rem", "em", "s", "%", "px", "deg", "fr", "vw"],
    "no-duplicate-selectors": null,
  }
}
