{% extends '@iied_tw/search/node--search-result.html.twig' %}
{% if (node.field_short_title.value) %}
  {% set title_text = node.field_short_title.value %}
{% else %}
  {% set title_text = node.label %}
{% endif %}
{% block image %} 
    <div class="max-w-[75%] w-[170px] h-auto mx-auto rounded shadow-md">
       {% include '@iied_tw/partials/_publication_image.html.twig' with { 'display_mode':'search_cover', 'img_style':'search_cover', 'alt_text': title_text|striptags } %} 
    </div>
  {% endblock %}

  {% block meta %}
      <div class="text-gray-500">{{ node.type.entity.label() }}, {{ node.field_date_published.value|date('d F Y') }} </div>
  {% endblock %}
