.navbar {
  padding: 0;
  .form-inline {

    .form-actions {
      display: none;
    }
  }
}

.toolbar-oriented .toolbar-bar {
  z-index: 1200;
}

.toolbar-horizontal {

  .toolbar-menu {

    &.nav {
      float: left;
    }
  }
}

.navbar-brand {
  margin-right: 0;
}
