.navbar {
  padding: 0;
  .form-inline {

    .form-actions {
      display: none;
    }
  }
}

.toolbar-oriented .toolbar-bar {
  z-index: 1200;
}

.toolbar-horizontal {

  .toolbar-menu {

    &.nav {
      float: left;
    }
  }
}

.navbar-nav {
  .dropdown-menu.show {
      width: fit-content;
      overflow-x: visible;
      overflow-y: scroll;
      line-height: 1rem;
      left: 1rem;
    }
}
