// Page: Content
// -----------------------------------------------------------------------------
.page__content {


}
.page-view-search {
  .view-result {
    .row {
      border: solid 1px $gray-200;
      border-bottom-width: 0;
      padding: 1rem;
      margin: 0;
      cursor: pointer;
      &:hover {
        background-color: $gray-100;
      }
      &:last-of-type {
        margin-bottom: 2rem;
        border-bottom-width: 1px;
      }
      .media div.field-image {
        width: 100px;
      }
    }
  }
}
