// Page: Header
// -----------------------------------------------------------------------------
.page__header {

}

.navbar img {
  display: block;
  padding-top: 4px;
}

.navbar-brand {
    font-size: 1.15rem;
    font-weight: 600;
}

.block--iied-pubs-branding .navbar-brand {
    color: rgba(0, 0, 0, 0.7);
}
