// Page: Header
// -----------------------------------------------------------------------------
.page__header {

}

.navbar img {
  display: block;
  padding-top: 4px;
}

.navbar-brand {
    font-size: 1.15rem;
    font-weight: 600;
}

.block--iied-pubs-branding .navbar-brand {
    color: rgba(0, 0, 0, 0.7);
}

.navbar {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, $pink , $orange);
  border-image-slice: 1;
  border-right: 0;
  border-left: 0;
  border-top: 0;
}
