/*Setup Two Factor Tab*/
.mo2f-setup-header {
    padding-bottom: 6px;
    font-size: 1.1em;
    width: 100%;
    line-height: 1.3em;
    border-bottom: 1px solid #D3D3D3;
}

.mo2f-setup-header-top-left {
    width: 100%;
    text-align: left;
    font-weight: bold;
    display: inline-block;
}

.mo2f-setup-header-top-right {
    width: 100%;
    text-align: right;
    display: inline-block;
}

.mo2f-setup-methods-info-wrap {
    padding-bottom: 25px;
    width: 100%;
    line-height: 1.3em;
    margin-left: 0px;
}

.mo2f-setup-methods-info-left {
    display: inline-block;
    width: 30%;
    text-align: left;
}

.mo2f-setup-methods-info-center {
    display: inline-block;
    width: 30%;
    text-align: center;
}

.mo2f-setup-methods-info-right {
    display: inline-block;
    width: 30%;
    text-align: right;
}

.mo2f-color-icon {
    vertical-align: middle;
    display: inline-block;
    width: 2em;
    height: 1em;
}

.mo2f-active-method {
    background-color: rgba(54, 157, 4, 0.42) !important;
}

.mo2f-configured-method {
    background-color: rgba(99, 143, 223, 0.42) !important;
}

.mo2f-unconfigured-method {
    background-color: rgba(221, 221, 221, 0.66) !important;
}

.mo2f-method {
    padding: 0px 5px 5px 5px;
    font-weight: bold;
    cursor: pointer;
}

/* --- */
.mo_configure_google_authenticator {
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 1%;
}

.googleauth-secret {
    text-align: center;
    background-color: #5cb85c;
    width: 31%;
    padding: 4px 0px;
    font-size: 12pt;
    border-radius: 20px;
    color: #fff;
    float: right;
    margin-right: 40%;
    height: 135px;
}

.mo_2fa_config_option_or {
    text-align: center;
    color: orange;
    font-size: large;
}

.subDivPosition {
    float: right;
    margin-right: 10px;
}

.mo2f-pricing-button {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799,
    -1px 0 1px #006799;
    height: 30px;
    line-height: 28px;
    padding: 0 12px 2px;
    vertical-align: top;
    display: inline-block;
    font-size: 13px;
    margin: 0;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px;
}

.mo_2fa_register_message {
    display: block;
    text-align: center;
    font-size: 1em;
    border-radius: 10px;
    border: 1px solid #fb9a9a;
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
}

/* UI Changes*/
.mo_2fa_table_layout_1 {
    background-color: #e0e0d8;
    width: 98%;
    padding: 1%;
    overflow: hidden;
}

.mo_2fa_table_layout {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    /*padding:0px 2% 2% 0px;*/
    /*margin-bottom: 1%;*/
}

.mo_2fa_container {
    width: 60%;
    padding: 2%;
    float: left;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
}

.mo_2fa_highlight_background_note {
    background-color: #e0e0e0;
    border-radius: 4px;
    padding: 0.55em;
    width: 98%;
}

/* Welcome message of registration page */
.mo_2fa_welcome_message {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    color: rgba(0, 128, 0, 0.70);
    background-color: rgba(0, 255, 0, 0.15);
    padding: 5px;
    border: 1px solid rgba(0, 128, 0, 0.15);
    border-radius: 4px;
}

/* User limit extend message */
.users_2fa_limit_exceeded_message {
    display: block;
    margin-top: 15px;
    font-family: none !important;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #fb9a9a;
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
    padding: 8px;
}

.ns_row {
    margin: 15px 0px;
}

.ns_name {
    display: inline-block;
    width: 16%;
    max-width: 450px;
}

.ns_value {
    display: inline-block;
    width: 40%;
}

/**
 *CSS for network security advertisement.
 */
.mo_auth_table_layout {
    border-radius: 1px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 0 2% 2% 0;
}

.mo_auth_container_2 {
    width: 28%;
    padding: 2%;
    border-radius: 4px; !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-left: 1.5%;
    float: right;
}

.mo_ns_align {
    text-align: justify;
}

.mo_ns_image1 {
    border: none;
    padding-bottom: 4%;
    background-color: white;
    text-align: center;
}

.mo_ns_row {
    border-right: hidden;
    border-bottom: hidden;
}

/**
 * CSS for network security advertise buttons + FAQ button and Ask question on forum button
 */
.mo2f_text_center {
    text-align: center;
    margin: 5%;
}

.mo_auth_button_left {
    float: inherit;
    color: #48a0dc;
    border: 2px solid #48a0dc;
    padding: 1.5%;
}

.mo_auth_button_right {
    float: inherit;
    color: #48a0dc;
    border: 2px solid #48a0dc;
    padding: 1.5%;
    margin-left: 5%;
}

/**
 * CSS for customize email and sms_template
 */
.mo_customize_email_sms_template {
    line-height: 1.8;
}

/**
 * CSS FOR SETUP SECOND FACTOR TAB
 */
.mo_container_second_factor {
    width: 96%;
    padding: 2%;
    float: left;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
}

.mo_tfa_grid_view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
    margin: 1%;
    text-align: justify;
}

.mo_tfa_grid_view > div {
    padding: 5% 4% 4% 4%;
    border: 1px solid rgba(0, 0, 0, 0.66);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 7px;
}

/*Upgrade Plans section*/

table.mo_how_to_upgrade td {
    border: groove;
    width: 50% !important;
}

table.mo_how_to_upgrade th {
    text-align: center;
    font-size: larger;
}

table.mo_upgrade_plans_features td {
    text-align: center;
    height: 2em;
    width: 15% !important;
    font-size: initial;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

table.mo_upgrade_plans_features tbody > tr:first-child > td {
    border-radius: 15px 15px 0 0;
    border-top: 2px solid #000;
}

table.mo_upgrade_plans_features tbody > tr:last-child > td {
    border-radius: 0 0 15px 15px;
    border-bottom: 2px solid #000;
}

table.mo_upgrade_plans_features tbody > :nth-child(4) {
    color: white !important;
    background-color: #34495e !important;
}

.mo_upgrade_plans_features, .mo_how_to_upgrade {
    margin: 0 1em !important;
    width: auto;
}

.mo_2fa_feature_table {
    border-collapse: separate;
    border-spacing: 3em 0;
}

table.mo_upgrade_plans_features ul {
    list-style: none;
    padding-left: 0;
}

table.mo_upgrade_plans_features li {
    position: relative;
    padding-left: 1.5em; /* space to preserve indentation on wrap */
    padding-bottom: 1em;
}

table.mo_upgrade_plans_features li:before {
    content: '✓';
    position: absolute;
    left: 0;
    width: 1em;
    height: 2em;
    color: forestgreen;
    font-size: larger;
    font-weight: 600;
}

#contact {
    text-align: center;
    margin-bottom: 4em;
}

.mo_container {
    padding: 15px;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(230, 225, 230, 1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(230, 225, 230, 1);
    box-shadow: 0px 0px 9px 0px rgba(230, 225, 230, 1);
}

table.mo_topnav_bar td {
    width: 18%;
    text-align: center;
    font-size: 20px;
    color: #808080;
    background-color: #34495e;
    font-weight: bold;
}

table.mo_topnav_bar td > a {
    color: white;
    text-decoration: none;
}

table.mo_topnav_bar td:hover {
    text-decoration: underline;
}

.mo_2fa_pricing_rate {
    font-size: 250%;
    font-weight: 600;
    position: relative;
    text-align: center;
}

.mo_2fa_feature_list {
    text-align: left;
    margin: 0 2em;
}

.mo2f-text-center {
    text-align: center;
}

.mo_auth_font_type {
    font-size: 15px;
}

table.miniorange_2fa_types td{
    width: 33%;
    border: 1px solid grey;
    vertical-align: center;
}

table.miniorange_2fa_types{
    border-spacing: 2em 0;
    border-collapse: separate;
}

.mo_2fa_text_align{
    text-align: center !important;
}

.mo_2fa_text_justify{
    text-align: justify;
}

.hidebutton {
    visibility: hidden;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mo_2fa_horizontal_form {
  display: table;
  margin-top: calc(var(--space-xs) / 2);
  margin-bottom: calc(var(--space-xs) / 2);
}

.two-step-verification--app-item--ios {
  background: transparent center left no-repeat;
  background-image: url(../images/apple-logo.svg);
  background-size: 15px;
  list-style: none;
  padding-left: 30px;
}

.two-step-verification--app-list {
  padding: 0;
}

.two-step-verification--app-item--android {
  background: transparent center left no-repeat;
  background-image: url(../images/android-logo.svg);
  background-size: 15px;
  list-style: none;
  padding-left: 30px;
}

.conatiner-flex {
  display: flex;
}

.qr_code_text {
  margin-left: 2em;
  margin-top: 0em;
}

.mo_2fa_qr_code_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mo_2fa_details_title_custom_css > summary,
.mo_2fa_details_title_custom_css_environment > summary {
  background-color: #f5f5f2;
  border-bottom: 1px solid #ccc;
}

.mo_2fa_column {
  float: left;
  width: 12.33%;
  padding: 1px;
}

.mo_2fa_row::after {
  content: "";
  clear: both;
  display: table;
}

.mo_2fa_active_method{
  background-color: #cfebb5;
}

.mo_2fa_active_method:hover {
  background-color: #e5f4d7;
}

.mo_2fa_already_configured{
  background-color: #cfe9f8;
}

.mo_2fa_already_configured:hover{
  background-color: #ebf5fc;
}

.mo_2fa_setup_table td{
  border: 1px solid #ccc;
}

.mo_2fa_setup_table th {
  background-color: #f5f5f2;
  border: 1px solid #ccc;
  width: 33%;
}

.mo-2fa--help {
  display: inline-block;
  box-sizing: content-box;
  width: 18px;
  height: 18px;
  margin: 0 0.3em;
  text-align: center;
  vertical-align: baseline;
  color: #fff;
  border: 2px solid #bbb;
  border-radius: 50%;
  background: #bbb;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

.mo-2fa--help:focus,
.mo-2fa--help:active,
.mo-2fa--help:hover {
  cursor: help;
  color: #fff;
  border: 2px solid #0074bd;
  background: #0074bd;
}

.mo-2fa--help--title {
  margin-bottom: 0.2em;
  font-size: 1.1em;
  font-weight: bold;
}

.mo-2fa--help--content {
  font-weight: normal;
}

.mo-2fa--help--content a:link,
.mo-2fa--help--content a:visited,
.mo-2fa--help--content a:hover,
.mo-2fa--help--content a:active {
  color: #9cf;
}

.mo-2fa--help--title {
  margin-bottom: 0.2em;
  font-size: 1.1em;
  font-weight: bold;
}

.mo-2fa-selected-text a, .mo-2fa-selected-text>*{
  background: #2196f3;
  color: #ffffff;
}
