{% if page.footer %}
  <footer class="page__footer">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-md-between align-items-md-center">
        {% block page_inner_footer %}
          {{ page.footer }}
        {% endblock %}
      </div>
    </div>
  </footer>
{% endif %}