parameters:
	level: 9
	ignoreErrors:
		- '#Unsafe usage of new static\(\)#'
	checkMissingIterableValueType: false
	excludePaths:
		- services_tfa/*
		- src/Controller/TfaUserControllerDeprecated.php
	scanDirectories:
		- ../../../../vendor/drush/drush/src-symfony-compatibility
includes:
	- phpstan-baseline.neon
