parameters:
	level: 9
	ignoreErrors:
		- '#Unsafe usage of new static\(\)#'
	checkMissingIterableValueType: false
	excludePaths:
		- services_tfa/*
		- src/Controller/TfaUserControllerDeprecated.php
includes:
	- phpstan-baseline.neon
