#edit-taxonomy-manager ul.fancytree-container,
#edit-taxonomy-manager .fancytree-container:focus {
  border: 0;
  outline: 0;
  outline-style: none;
  background-color: transparent;
}

.fancytree-title {
  white-space: normal;
}

.ui-fancytree.fancytree-container > li {
  margin-bottom: 10px;
}
