$warning-color: #e09600;
$over-color: #f00;
$border-width: 2px;

.form-textarea-wrapper.textcount_warning,
.form-item.textcount_warning {
  .textfield-counter-element {
    border-width: $border-width;
    border-color: $warning-color;
  }
  .textfield_counter_counter {
    .current_count,
    .remaining_count {
      color: $warning-color;
    }
  }
}

.form-textarea-wrapper.textcount_over,
.form-item.textcount_over {
  .textfield-counter-element {
    border-width: $border-width;
    border-color: $over-color;
  }
  .textfield_counter_counter {
    .current_count,
    .remaining_count {
      color: $over-color;
    }
  }
}
