/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

.site-name-slogan {
	float: right;
	width: 290px;
	margin-top: -145px;
}

/* Cookie compliance banner */

#sliding-popup .popup-content {
  max-width: 90%;
}
#sliding-popup .popup-content #popup-text {
  max-width: 75%;
  line-height: 2em;
}
#sliding-popup .popup-content #popup-buttons {
  margin-bottom: 0;
  max-width: 25%;
}
#sliding-popup .popup-content #popup-buttons button {
  margin-top: .5em;
}