<a
  class="flex items-center mb-6 text-lg"
  href="{{ url }}"
  title="{{ button_title }}"
  >{{ button_title }}
  <span class="inline-block p-2 ml-2 border border-gray-300 rounded-full">
   {% include '@iied_tw/layout/icons/arrow-right.svg' %}
  </span>
</a>