    {# banner for non-authenticated HH users #}
    <div class="mb-6 bg-iiedblue-10">
        <div class="container items-center p-4 sm:flex sm:pace-x-6">
            <p class="mb-2 mr-6">Want to expose a Hidden Handbrake?<br />
            Log in or create an account to share a Hidden Handbrake with the community.
            </p>
            <a class="flex items-center h-10 px-3 py-2 mb-4 transition bg-white border border-gray-300 rounded-full shadow-sm hover:shadow-none hover:bg-gray-100 hover:border-iiedblue-500" href="/">Log in
            </a> 
            <a class="flex items-center h-10 px-3 py-2 mb-4 transition bg-white border border-gray-300 rounded-full shadow-sm hover:shadow-none hover:bg-gray-100 hover:border-iiedblue-500" href="/">Create account
            </a>
        </div>
    </div>

