    {# banner for authenticated HH users  #}
    <div class="mb-6 bg-iiedblue-10">
        <div class="container items-center justify-between p-4 sm:flex sm:pace-x-6">
            <p class="mb-2 mr-6 prose">You are now logged in. Before submitting your hidden handbrake, please read the overview for supporting information and guidelines on submissions.</p>

            <div class="flex items-center space-x-4"> 
            <a class="flex items-center h-10 px-3 py-2 mb-4 transition bg-white border border-gray-300 rounded-full shadow-sm shrink-0 webform-dialog webform-dialog-normal button hover:shadow-none hover:bg-gray-100 hover:border-iiedblue-500" href="/form/hidden-handbrake">Share a hidden handbrake
            </a>

            <a class="mb-4" href="{{ path('user.logout', {}, {'query': {'destination': path('<current>') }}) }}">{{ 'Log out'|t }}</a>
            </div>
        </div>
    </div>


{# will display username and people icon if needed 
    <div class="flex items-center py-2 ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
        {{ user.displayname }}
    </div>
#}