{# navigation for hidden handbrake nodes 
/**
** make this into a block
 */
#}

<div class="bg-white border-b-2 border-iiedblue-500 ">
<div class="container items-center p-2">
<div class="flex flex-wrap items-center justify-between mx-4">
<div><a href="/hidden-handbrakes">Discover</a></div>
<div><a href="/hidden-handbrakes">Hidden handbrakes</a></div>
<div><a href="/hidden-handbrakes#overview">Overview</a></div>
</div>
</div>
</div>

