{# navigation for hidden handbrake nodes 
/**
** make this into a block
 */
#}

<div class="bg-white border-b-2 border-iiedblue-500">
    <div class="container items-center p-2">
        <div class="grid place-items-center">
            <div>
                <a class="flex items-center space-x-2 group" href="/hidden-handbrakes">
                    <span class="group-hover:border-iiedblue-500 transform duration-150 ease-in group-hover:-translate-x-0.5"> 
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                        </svg>
                    </span>
                    <span>Hidden handbrakes</span>
                </a>
            </div>
        </div>
    </div>
</div>

