<!-- Off canvas menu -->
    <div x-show="isOpen" 
        x-transition:enter="transition ease-out duration-300 transform"
        x-transition:enter-start="opacity-0 -translate-x-full"
        x-transition:enter-end="opacity-100 translate-x-0"
        x-transition:leave="transition ease-in duration-300 transform"
        x-transition:leave-start="opacity-100 translate-x-0"
        x-transition:leave-end="opacity-0 -translate-x-full"
        @click.stop
        class="fixed overflow-y-auto h-screen inset-y-0 left-0 z-[999] transition-transform duration-300 ease-in-out transform max-w-fit max-h-fit"
        id="menu"
        :aria-hidden="isOpen ? 'false' : 'true'"> 
    <div class="flex flex-col sm:pr-9 sm:flex-row max-w-max bg-gray-50 rounded-r-2xl">
    
        {# TODO: replace static links with Drupal menus when created 
        Example: {{ drupal_block('system_menu_block:primary', {wrapper: false}) }} #}

        <!-- main links -->
        <div class="py-4 pl-4 pr-14 sm:pr-4 bg-iiedblue-50 rounded-tr-2xl">
            <div class="pb-4 mb-6 border-b border-white">
                <ul class="font-semibold">
                <li class="py-2 rounded-full hover:bg-iiedblue-100">
                    <a href="/about" class="px-4 text-gray-900 visited:text-gray-900 hover:no-underline">About</a>
                </li>
                <li class="py-2 rounded-full hover:bg-iiedblue-100">
                    <a href="/news-insight" class="px-4 text-gray-900 visited:text-gray-900 hover:no-underline">News and insight</a>
                </li>
                <li class="py-2 rounded-full hover:bg-iiedblue-100">
                    <a href="/approach" class="px-4 text-gray-900 visited:text-gray-900 hover:no-underline">Our approach</a>
                </li>
                <li class="py-2 rounded-full hover:bg-iiedblue-100">
                    <a href="/publications" class="px-4 text-gray-900 visited:text-gray-900 hover:no-underline">Publications</a>
                </li>
                </ul>
            </div>

            <div class="py-2 pl-4 my-2 rounded-full hover:bg-iiedblue-100">
            <a href="/newsletters" class="text-gray-900 hover:no-underline">Sign up for our newsletters</a>
            </div>

            <!-- Social links -->
            <div class="py-4">
            <div class="flex items-center">
                    <a href="/" target="_blank" class="flex items-center justify-center w-10 h-10 mr-2 text-gray-900 border rounded-full visited:text-gray-900 border-iiedblue-500 hover:bg-iiedblue-100 hover:border-iiedblue-500" title="Facebook" aria-label="Facebook" rel="noopener" tabindex="-1">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                    <a href="/" target="_blank" class="flex items-center justify-center w-10 h-10 mr-2 text-gray-900 border rounded-full visited:text-gray-900 border-iiedblue-500 hover:bg-iiedblue-100 hover:border-iiedblue-500" id="share-twitter" title="Share to Twitter" aria-label="Share to Twitter" rel="noopener" tabindex="-1">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                    </svg>
                </a>
                    <a href="/" target="_blank" class="flex items-center justify-center w-10 h-10 mr-2 text-gray-900 border rounded-full visited:text-gray-900 border-iiedblue-500 hover:bg-iiedblue-100 hover:border-iiedblue-500" id="share-linkedin" title="Share to Linkedin" aria-label="Share to Linkedin" rel="noopener" tabindex="-1">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                    <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
                    <a href="/" aria-label=" e-mail" target="_blank" rel="noopener" tabindex="-1" class="flex items-center justify-center w-10 h-10 mr-2 text-gray-900 border rounded-full visited:text-gray-900 border-iiedblue-500 hover:bg-iiedblue-100 hover:border-iiedblue-500" id="share-email">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                        <path d="M8.25 4.5a3.75 3.75 0 1 1 7.5 0v8.25a3.75 3.75 0 1 1-7.5 0V4.5Z" />
                        <path d="M6 10.5a.75.75 0 0 1 .75.75v1.5a5.25 5.25 0 1 0 10.5 0v-1.5a.75.75 0 0 1 1.5 0v1.5a6.751 6.751 0 0 1-6 6.709v2.291h3a.75.75 0 0 1 0 1.5h-7.5a.75.75 0 0 1 0-1.5h3v-2.291a6.751 6.751 0 0 1-6-6.709v-1.5A.75.75 0 0 1 6 10.5Z" />
                        </svg>
                    
                </a>
                </a>
                <a href="/" aria-label=" e-mail" target="_blank" rel="noopener" tabindex="-1" class="flex items-center justify-center w-10 h-10 mr-2 text-gray-900 border rounded-full visited:text-gray-900 border-iiedblue-500 hover:bg-iiedblue-100 hover:border-iiedblue-500" id="share-email">
                <svg xmlns="http://www.w3.org/2000/svg" width="22.81" height="15.348" viewBox="0 0 22.81 15.348" class="w-5 h-5">
                    <path id="XMLID_823_" d="M21.921,47.234c-.823-.936-2.344-1.317-5.247-1.317H6.136c-2.97,0-4.516.406-5.336,1.4-.8.971-.8,2.4-.8,4.383v3.776c0,3.838.949,5.786,6.136,5.786H16.674c2.518,0,3.913-.337,4.815-1.163.926-.847,1.32-2.23,1.32-4.623V51.7C22.81,49.614,22.748,48.174,21.921,47.234Zm-7.277,6.878L9.859,56.5a.766.766,0,0,1-.722-.022.7.7,0,0,1-.355-.6V51.113a.7.7,0,0,1,.354-.6.765.765,0,0,1,.721-.023l4.786,2.376a.69.69,0,0,1,0,1.248Z" transform="translate(0 -45.917)"/>
                </svg>
                
                
                </a>
                </div>
            </div>

        </div>

        <!-- Secondary links -->
        <div class="p-4 bg-gray-50 rounded-r-2xl">
            <ul class="sm:grid-cols-2 sm:grid">
                <li class="rounded-full hover:bg-gray-100">
                <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Biodiversity</a
                >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Climate change</a
                >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Communication</a
                >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Economics</a
                >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Energy</a
                >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Fisheries</a
                >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Food and agriculture</a
                >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Forests</a
                >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Gender</a
                >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Governance</a
                >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Land acquisitions and rights</a
                >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Law</a
                >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                <a
                href="#"
                class="block px-4 py-2 text-gray-700 hover:no-underline"
                >Monitoring, evaluation and learning</a
                >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                    <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Natural resource management</a
                    >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                    <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Policy and planning</a
                    >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                    <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Poverty</a
                    >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                    <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Sustainable markets</a
                    >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                    <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Urban</a
                    >
                </li>
                <li class="rounded-full hover:bg-gray-100">
                    <a
                    href="#"
                    class="block px-4 py-2 text-gray-700 hover:no-underline"
                    >Water</a
                    >
                </li>
        
            </ul>
        </div>

        <!-- close button -->
        <button 
            @click="isOpen = !isOpen" 
            type="button" 
            aria-label="Menu close" 
            aria-expanded="false" 
            class="absolute p-2 top-2 right-2 focus:outline-none focus:ring-1 focus:ring-offset-2 focus:ring-iiedblue-300"
            data-pg-collapsed 
            aria-controls="menu" 
            x-on:click="mobilemenuopen = !mobilemenuopen" 
            :aria-expanded="isOpen ? 'true' : 'false'">

            <svg x-show="isOpen" class="w-6 h-6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" data-pg-collapsed>
                <path d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>

    </div>
    </div>  

    <!-- Overlay -->
    <div x-show="isOpen" @click="isOpen = false"
        x-transition:enter="ease-out duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="ease-in duration-300"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        class="fixed inset-0 z-50 bg-gray-900 bg-opacity-50"
        aria-label="Close menu overlay">
    </div>
