<section class="py-12 bg-gray-100">
    <div class="container">
        {% if drupal_view_result('related_nodes', 'tag_block') is not empty %}
        {{ drupal_view('related_nodes', 'tag_block') }}
        {% endif %}
    </div>
</section>