{#-- hidden handbrakes how stuck is this handbrake --#}
<div class="flex flex-col items-center justify-center">
  <div class="relative">
    <svg
      id="gauge"
      data-name="gauge"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="205"
      height="100"
      viewBox="0 0 205 100"
    >
      <defs>
        <clipPath id="clip-path">
          <rect
            width="205"
            height="100"
            fill="none"
          />
        </clipPath>
      </defs>
      <g clip-path="url(#clip-path)">
        <path
          d="M32.663,53.71,20.007,44.582a1.841,1.841,0,0,0-2.593.441A100.7,100.7,0,0,0,0,98.125,1.828,1.828,0,0,0,1.838,100H17.481a1.829,1.829,0,0,0,1.827-1.757A81.733,81.733,0,0,1,33.1,56.194a1.809,1.809,0,0,0-.437-2.484"
          fill="#aac02c"
        />
        <path
          d="M170.171,50.762l12.654-9.126a1.812,1.812,0,0,0,.375-2.589A103,103,0,0,0,137.72,6.191a1.837,1.837,0,0,0-2.365,1.154L130.519,22.12a1.82,1.82,0,0,0,1.116,2.267,83.618,83.618,0,0,1,36.019,26.022,1.845,1.845,0,0,0,2.517.353"
          fill="#d26e49"
        />
        <path
          d="M187.518,100h15.643A1.827,1.827,0,0,0,205,98.125a100.7,100.7,0,0,0-17.413-53.1,1.84,1.84,0,0,0-2.592-.441L172.336,53.71a1.808,1.808,0,0,0-.436,2.484,81.732,81.732,0,0,1,13.791,42.049A1.83,1.83,0,0,0,187.518,100"
          fill="#df5353"
        />
        <path
          d="M74.479,22.119,69.643,7.346a1.835,1.835,0,0,0-2.364-1.155A102.992,102.992,0,0,0,21.8,39.047a1.811,1.811,0,0,0,.375,2.589l12.654,9.127a1.845,1.845,0,0,0,2.516-.353A83.618,83.618,0,0,1,73.363,24.387a1.818,1.818,0,0,0,1.116-2.268"
          fill="#b7a536"
        />
        <path
          d="M102.5,19.16a83.59,83.59,0,0,1,22.279,3.01,1.838,1.838,0,0,0,2.247-1.183l4.836-14.775A1.816,1.816,0,0,0,130.637,3.9a103.449,103.449,0,0,0-56.274,0,1.816,1.816,0,0,0-1.225,2.312l4.836,14.775a1.837,1.837,0,0,0,2.247,1.183A83.59,83.59,0,0,1,102.5,19.16"
          fill="#c58a40"
        />
        <path
          d="M102.5,89.472a10.533,10.533,0,0,0-10.262,8.167A1.921,1.921,0,0,0,94.1,100h16.8a1.921,1.921,0,0,0,1.862-2.361A10.534,10.534,0,0,0,102.5,89.472"
        />
      </g>
    </svg>

    <div class="absolute top-[48%] left-1/2 origin-bottom-left needle {{ stuckness }}">
    
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="6.653"
        height="105.57"
        viewBox="0 0 6.653 105.57"
      >
        <defs>
          <clipPath id="clip-path">
            <rect
              width="6.653"
              height="105.57"
              transform="translate(0 0)"
              fill="none"
            />
          </clipPath>
        </defs>
        <g
          clip-path="url(#clip-path)"
        >
          <path
            d="M6.653,3.327A3.326,3.326,0,1,0,0,3.327V31.6a3.314,3.314,0,0,0,.95,2.323v69.275a2.376,2.376,0,0,0,4.752,0V33.92A3.313,3.313,0,0,0,6.653,31.6Z"
          />
        </g>
      </svg>
    </div>
  </div>
  <p>How stuck is this handbrake?</p>
</div>
  {#-- end hidden handbrakes how stuck is this handbrake --#}