 <button
  class="h-12 max-w-xs px-6 py-2 m-2 mb-1 text-lg transition-colors duration-150 rounded-full shadow-sm bg-iiedorange-500 hover:bg-iiedorange-600 focus:shadow-outline"
>
  <a
    class="font-semibold text-gray-800 hover:no-underline hover:text-gray-900"
    href="{{ url }}"
    title="{{ button_title }}"
    >{{ button_title }}</a
  >
</button>