drupal:
  root: "build"
  base_url: "http://gin-lb.docksal"
  database:
    host: "db"
    port: "3306"
    name: "default"
    user: "root"
    password: "root"
  post_install:
    - "./vendor/bin/drush en -y gin_lb"
    - "./vendor/bin/drush cr"
  settings:
    settings:
      container_yamls:
        - "/var/www/${drupal.root}/sites/development.services.yml"
      extension_discovery_scan_tests: true
      cache:
        bins:
          dynamic_page_cache: "cache.backend.null"
          page_cache: "cache.backend.null"
          render: "cache.backend.null"
      file_scan_ignore_directories:
        - "vendor"
        - "${drupal.root}"

selenium:
  host: "http://selenium:4444"
  browser: "chrome"

commands:
  drupal:site-setup:
    - { task: "symlink", from: "../../../../src", to: "${drupal.root}/modules/custom/gin_lb/src" }
    - { task: "symlink", from: "../../../../img", to: "${drupal.root}/modules/custom/gin_lb/img" }
    - { task: "symlink", from: "../../../../tests", to: "${drupal.root}/modules/custom/gin_lb/tests" }
    - { task: "symlink", from: "../../../../dist", to: "${drupal.root}/modules/custom/gin_lb/dist" }
    - { task: "symlink", from: "../../../../css", to: "${drupal.root}/modules/custom/gin_lb/css" }
    - { task: "symlink", from: "../../../../config", to: "${drupal.root}/modules/custom/gin_lb/config" }
    - { task: "symlink", from: "../../../../templates", to: "${drupal.root}/modules/custom/gin_lb/templates" }
    - { task: "symlink", from: "../../../../gin_lb.info.yml", to: "${drupal.root}/modules/custom/gin_lb/gin_lb.info.yml" }
    - { task: "symlink", from: "../../../../gin_lb.routing.yml", to: "${drupal.root}/modules/custom/gin_lb/gin_lb.routing.yml" }
    - { task: "symlink", from: "../../../../gin_lb.links.menu.yml", to: "${drupal.root}/modules/custom/gin_lb/gin_lb.links.menu.yml" }
    - { task: "symlink", from: "../../../../gin_lb.module", to: "${drupal.root}/modules/custom/gin_lb/gin_lb.module" }
    - { task: "symlink", from: "../../../../gin_lb.services.yml", to: "${drupal.root}/modules/custom/gin_lb/gin_lb.services.yml" }
    - { task: "symlink", from: "../../../../gin_lb.libraries.yml", to: "${drupal.root}/modules/custom/gin_lb/gin_lb.libraries.yml" }
    # Generate settings.testing.php, it will be used when running functional tests.
    - { task: "process-php", type: "write", config: "drupal.settings", source: "${drupal.root}/sites/default/default.settings.php", destination: "${drupal.root}/sites/default/settings.testing.php", override: true }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:phpunit" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
